In [1]:
print(2+2)

4

# Lesson 1 Data types

In [2]:
age = 40
Name = 'Akbar'
weight= 71.6
passed = True

print(age,type(age))
print (Name,type(Name))
print (weight,type(weight))
print (passed,type(passed))

40 <class 'int'>
Akbar <class 'str'>
71.6 <class 'float'>
True <class 'bool'>

In [3]:
print(age**weight)

5.099121720515953e+114

In [4]:
print(age*weight)
print(age-weight+age)

2864.0
8.400000000000006

In [5]:
a1=20.45
a2=20
a3=40.5
a4=43

avg=(a1+a2+a3+a4)/4

print (avg)

30.9875

In [6]:
#floor div

typeOne = int(weight//age)

print(typeOne)
print(type(typeOne))

1
<class 'int'>

In [7]:
print(2//2)
typeTwo = 2.5//2.4
print(type(typeTwo))

1
<class 'float'>

In [8]:
#rounded
Math =26 
english= 76.4
total= round(Math/english, 3)
print(total)

0.34

In [9]:
print(type(Math))
print(type(english))

<class 'int'>
<class 'float'>

In [10]:
print(type(passed))

<class 'bool'>

In [11]:
#F to C AND C TO F
f = 42
c= 5.56
convert_c= round((f-32)/1.8, 2)
convert_f= round((c*1.8)+32, 1)
print(convert_c)
print(convert_f)

5.56
42.0

In [12]:
#MILES TO KM and km to miles

m= 57
k =110
convert_km = round(m*1.6)
convert_m = (k//1.6)
print(convert_m)
print(convert_km)

68.0
91

In [13]:
#pound to kg and kg to pound

p= 160
g=86

convert_p= round(160*0.454,2)
convert_g= round(86/0.454, 1)
print(convert_p)
print(convert_g)

72.64
189.4

In [14]:
#gallons to litres and litre to gallon

G= 28
l= 48
convert_l= int(g*3.78541)
convert_g= round(48/3.78541, 2)
print(convert_l)
print(convert_g)

325
12.68

In [15]:
#CALC SIMPLE INTEREST
p = 110
r= 0.5
i= 5

SI= round(p*r*i/100)


print(SI)

3

In [16]:
#calculating FORCE

import math
m = 25.66
a= 38.89
s= 110.67

f= math.ceil(m*a)
r=math.floor(m*a)
d= (f/110.67)
q= (f/110.67)
print (type(q))
print (int(d))
print(r)
print(f)

<class 'float'>
9
997
998

**above codes are to learn Data Types**
# title

i am doing this to increase my knowledge

In [17]:
x= 29.87
y=8.53
n= 10
r=0.06

a= round((x*((1+(r/n))**(n*y))),2)

print(a)

49.76

## **the above code is calculating compound interest**

In [18]:
c= float(input('enter celsius temp here:'))
convert_f= round((c*1.8)+32, 1)
print(convert_f)

enter celsius temp here:36
96.8

In [19]:
f = float(input('enter F temp here:'))
convert_c= round((f-32)/1.8, 2)
print(convert_c)

enter F temp here:109
42.78

In [20]:
m= int(input('enter miles distance here:'))
convert_km = round(m*1.6)
print(convert_km)

enter miles distance here:20
32

In [21]:
mass= float(input("enter the mass quantity here: "))
Acc= int(input("enter acc rate here: "))
f= int(mass*Acc)
print(f)

enter the mass quantity here: 20
enter acc rate here: 109
2180

In [22]:
math = 55
physics= 72
biology = 41
avg= round(math+physics+biology/3, 2)

print (f"mid term marks in maths {math}, mid term marks in physics {physics}, mid terms marks in biology {biology}\
average is {avg}")

mid term marks in maths 55, mid term marks in physics 72, mid terms marks in biology 41average is 140.67

In [23]:
txt= input('give me your text: ')
txt_cnt = input("which word you want to count:")
count = txt.count(txt_cnt)
print(f"Your text count appears these many times, lmk if you want some other word as well and your count is {count}")

give me your text: run and run
which word you want to count:run
Your text count appears these many times, lmk if you want some other word as well and your count is 2

In [24]:
FN=input('Enter your first name: ') 
LN=input('Enter your last name: ')
cap_FN= FN.capitalize() 
cap_LN= LN.capitalize()
print(f'Hello {cap_FN} {cap_LN}!')

Enter your first name: akbar
Enter your last name: nadeem
Hello Akbar Nadeem!

In [30]:
p= input("enter a password: ")
c= len(p)
Cp=p.capitalize()
n= p.isnumeric()
print(f'Password is strong {c}{Cp}{n}'d)

enter a password: password1
Password is strong 9Password1False

In [82]:
check_v= 'dabur' #input("enter a string here: ")
vowel='ab'
d= check_v.find(vowel)
c= check_v.islower()
print(f" checking vowels for {check_v} and its should have {d} {c}" )

 checking vowels for dabur and its should have 1 True

In [46]:
a = input("enter a sentence here: ")
b = a.replace(".",",")
print(f" {b} (replaced period with commas ")

enter a sentence here: ou are a intelligent, nahh bro you are too. oh no!
 ou are a intelligent, nahh bro you are too, oh no! (replaced period with commas

In [48]:
x= input("enter your password: ")
l= len(x)
print(f' I am checking the length of the password {l}' )

enter your password: nafisisdiabolical
 I am checking the length of the password 17

In [55]:
n= input('   put names to put a list:      ')
l_list= n.strip()
print(f' creating a list of names you provide {l_list} ')

   put names to put a list:      akbar
 creating a list of names you provide akbar

In [69]:
w_sent= input('enter your word doc here to find a word: ')
a_indx= w_sent.find('26')
print(f"I am trying to see where is {a_indx}")

enter your word doc here to find a word: there are 3 things i need first is 2 and second is 26
I am trying to see where is 51

In [77]:
text = ("how are you, üåç")
txt_ascii= text.isascii()
print(f'making sure its false or True but its {txt_ascii}')

making sure its false or True but its False

In [ ]:
#Write a program that:

# Takes a user's full name (first name and last name) as input
# Takes their email address as input
# Takes their favorite quote as input

# The program should:

# Clean up extra spaces from both ends of all inputs using strip()
# Convert the full name to title case
# Split the full name into first and last name
# Replace any dots (.) in the email with the text [DOT]
# Convert the quote to all uppercase

# Finally, create a formatted output that displays:

# Welcome message using their first name only
# Their email in the modified format
# Their quote

# The output should use f-strings to create a nicely formatted display.

In [83]:
Full_name= input('enter the full name: ')
email= input("enter your email: ")
quote= input('Your fav Quote: ')

Full_name= Full_name.strip()
email= email.strip()
quote= quote.strip()

Full_name=Full_name.title()
Firstname,Secondname=Full_name.split()
email=email.replace('.','DOT')
quote=quote.upper()

print(f'Welcome  {Firstname} and your email is{email} with your{quote}')

enter the full name: akbar nadeem
enter your email: ak.17@gmail.com
Your fav Quote: god is great
WelcomeAkbar and your email isakDOT17@gmailDOTcom with yourGOD IS GREAT

In [84]:
# Write a program that processes a student's course details:

# Take a course code as input (e.g., "CSE-101-PYTHON")
# Take instructor's name as input (e.g., "dr. sarah smith")
# Take class schedule as input (e.g., "Monday & Wednesday 10:00am")

# The program should:

# Split the course code into department, number, and title using the dash (-) as separator
# Convert the instructor's name to proper title case (e.g., "Dr. Sarah Smith")
# Clean up the schedule by:

# Removing extra spaces between days and time
# Replacing '&' with the word 'and'
# Converting time to uppercase

# Finally, create a formatted output that shows the processed information

In [85]:
coursecode=input("enter your course code here: ")
instructor=input("name of your instructor here:")
schedule=input('class schedule is at: ')

dept,no,title=coursecode.split('-')
instructor=instructor.title()
schedule=schedule.replace(" ","")
schedule=schedule.replace('&',"and")
schedule=schedule.upper()

print(f' your course code is {coursecode}, instructors name is {instructor} and class schedule is at {schedule}')

enter your course code here: CSE-101-PYTHON
name of your instructor here:dr. sarah smith
class schedule is at: Monday & Wednesday 10:00am
 your course code is CSE-101-PYTHON, instructors name is Dr. Sarah Smith and class schedule is at MONDAYANDWEDNESDAY10:00AM

In [94]:
email=input('Enter your email here: ')
email_clean= email.strip()
extract_username, domain= email[:8],email[9:] 

print(f'formatted email is {email} with username {extract_username} and domain {domain}')

Enter your email here: john.doe@example.com
formatted email is john.doe@example.com with username john.doe and domain example.com

In [116]:
d_date= input('date is : ')
year,month,day= d_date[:4],d_date[5:7],d_date[8:]

month_name= month.replace("12","December")

print(f'reformating the new date {month_name} {day}, {year}')

date is : 2024-12-22
reformating the new date December 22, 2024

In [ ]:
#### ask the user to give you a sentence or a paragraph. 
###extract all words starting with upper or lower case 'a'

### hint: find, index, slicing

para= input('give me a paragraph: ')
para= para.find(a)
para=para[]